.container {
  display: grid;
  width: 100%;
  height: auto;
  grid: repeat(5, 1fr) / repeat(4, 2fr);
  font: bolder 0.9em Arial, sans-serif;
  text-align: center;
}
#header {
  grid-area: 1/1/2/5;
  background-color: rgb(197, 190, 190);
}
#main {
  display: grid;
  grid-area: 2/1/5/3;
  gap: 10px;
  background-color: rgb(242, 242, 147);
  text-align: center;
}
.content1 {
  grid-area: 3/1/4/2;
  background-color: rgb(218, 196, 83);
}
.content2 {
  grid-area: 3/2/4/3;
  background-color: rgb(218, 196, 83);
}
.content3 {
  grid-area: 4/1/5/3;
  background-color: rgb(218, 196, 83);
}
#sidebar {
  grid-area: 2/3/5/5;
  background-color: rgb(190, 225, 136);
}
.footer {
  display: grid;
  grid-area: 5/1/6/5;
  background-color: rgb(197, 190, 190);
  gap: 0.2em;
  justify-content: space-evenly;
  padding: 1.2em;
}
.footer-1 {
  grid-area: 5/1/6/2;
  background-color: rgb(247, 237, 237);
  padding: 0.5em;
}
.footer-2 {
  grid-area: 5/2/6/3;
  background-color: rgb(247, 237, 237);
  padding: 0.5em;
}
.footer-3 {
  grid-area: 5/3/6/4;
  background-color: rgb(247, 237, 237);
  padding: 0.5em;
}
.footer-4 {
  grid-area: 5/4/6/5;
  background-color: rgb(247, 237, 237);
  padding: 0.5em;
}
